<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687680612219-6kfbnjg7p9cq81d7frsl684e10topkpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687680612219-6kfbnjg7p9cq81d7frsl684e10topkpn</string>
	<key>API_KEY</key>
	<string>AIzaSyDixC0kT-L1tRDDXYi_7P3HrIxTydXj_9w</string>
	<key>GCM_SENDER_ID</key>
	<string>687680612219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitel.bss.viettelpos.v3.bitelVentas</string>
	<key>PROJECT_ID</key>
	<string>bitel-ventas-9cd08</string>
	<key>STORAGE_BUCKET</key>
	<string>bitel-ventas-9cd08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687680612219:ios:a4ec71c5cd69f716ba7fde</string>
</dict>
</plist>